.container
  .hero-unit
    %div
      %h1
        contwinue
      %p
        Twitter continued... (we break up a long tweet into smaller tweets for
        you)
    %hr/
    %a.btn.btn-primary{href: '/auth/twitter'}
      Login via Twitter
